<!DOCTYPE html>
<html lang="en">
<head>
    

  <title>TinyApp</title>
</head>
<body>
	<% if(!currentUser){ %>
    <form method="GET" class="btn" method ="GET" action="/Login/">    
       <input type="Submit" value="Login">
       </form>
       <form method="GET" class="btn" action="/Registration/">    
       <input type="Submit" value="Register">
       </form>
 <% } else{ %>  
   
   <h2><%= currentUser.email %></h2> 
    <form method="GET" action="/logout%>/">    
       <input class="btn"  type="submit" value="Log Out">
       </form>
<% } %>
	 


</body>

</html>





