
body {
    text-align: center;
}
form {
    display: inline-block;
}


.btn {
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4abdac;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

.btn:hover {
  background:   #f7b733;
  text-decoration: none;
}

.text{
  font-size: 1.5em; 
  text-align: center;
}

a {
    color: #2444C9;
}