<!DOCTYPE html>
<html lang="en">
<head>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	 <link rel="stylesheet" type="text/css" href="styles.css">
<% include ../views/partials/_header %>

  <title>TinyApp</title>
</head>
<body>
	<div style="height: 50px; "text-align: center"></div>
	<h1> Edit your short URL </h1>
 

      <form action="/urls/" method="POST">
    
      <input for="changeURL" name="shortURL" value=<%=shortURL%> Change <%=shortURL %> to:</label>
      
      <input id="changeURL" type="text" name="longURL" placeholder=<%=longURL%> style="width: 300px">

      <input type="submit"  value="Submit">
</body>
</html>



<style type="text/css">
 .btn {
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #4abdac;
  padding: 8px 16px 8px 16px;
  text-decoration: none;
}

.btn:hover {
  background:   #f7b733;
  text-decoration: none;
}

.text{
  font-size: 1.5em; 
  text-align: center;
}

a {
    color: #2444C9;
}

body {
    text-align: center;
}
form {
    display: inline-block;
}



</style>